@import url("https://fonts.googleapis.com/css?family=Lacquer&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
* { margin: 0; padding: 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: 'Noto Sans TC', sans-serif; }

#header { width: 100%; height: 6.75rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border-bottom: 0.0625rem solid #ccc; }

#header p { color: #2d4988; font-size: 2.5rem; font-family: 'Lacquer', sans-serif; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }

#main { width: 100%; height: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: unset; -ms-flex-pack: unset; justify-content: unset; min-height: 100vh; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; background-color: rgba(189, 189, 189, 0.75); }

#main .functions { width: 48.125rem; height: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; margin: 0.5rem 0; }

#main .functions .confirm, #main .functions .drag { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: unset; -ms-flex-pack: unset; justify-content: unset; cursor: pointer; font-size: 0.9rem; border-radius: 0.25rem; padding: 0.25rem 0.5rem; background-color: #fff; border: 1px solid #999; margin-left: 1rem; }

#main .functions .confirm i, #main .functions .drag i { margin-right: 0.5rem; }

#main .functions .confirm > i { color: #7bc235; }

#main .functions .drag > i { color: #ff5722; }

#main #form-editor { width: 48.125rem; height: auto; }

#main #form-editor .drag-container { width: 100%; height: auto; cursor: move; margin-bottom: 0.5rem; background-color: #fff; border-radius: 4px; font-size: 0.9rem; padding: 0.25rem 0 0.25rem 0.5rem; }

#main .add-new-question { width: 48.125rem; height: 3.125rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; color: #fff; cursor: pointer; margin-bottom: 5rem; border-radius: 0.3125rem; background-color: #2d4988; }

#main .add-new-question .fa-times { font-size: 1.25rem; margin-right: 1rem; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.title-c { width: 100%; height: 11.25rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: unset; -ms-flex-pack: unset; justify-content: unset; padding: 1.5rem; border: 0.0625rem solid #ccc; position: relative; margin-bottom: 0.5rem; border-radius: 0.3125rem; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; background-color: #fff; }

.title-c .line { width: 100%; height: 0.625rem; background-color: #2d4988; border-top-left-radius: 0.3125rem; border-top-right-radius: 0.3125rem; top: 0; left: 0; position: absolute; }

.title-c .title-text { font-size: 1.75rem; }

.title-c .description { margin-top: 1.5rem; padding-bottom: 2px; }

.title-c input { width: 100%; border: none; border-bottom: 0.0625rem solid #ccc; }

.title-c input:focus { outline: none; }

.title-c input:focus + .bar:before, .title-c input:focus + .bar:after { width: 50%; }

.title-c .bar { width: 100%; position: relative; }

.title-c .bar::before { left: 50%; }

.title-c .bar::after { right: 50%; }

.title-c .bar::before, .title-c .bar::after { width: 0; height: 0.125rem; content: ''; position: absolute; background: #2d4988; transition: 0.25s ease all; -moz-transition: 0.25s ease all; -webkit-transition: 0.25s ease all; }

.title-c .switch-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: unset; -ms-flex-pack: unset; justify-content: unset; margin-top: 1.5rem; margin-right: auto; }

.title-c .switch-area .switch { width: 2.25rem; height: 1rem; cursor: pointer; margin-left: 1rem; position: relative; -webkit-transition: all 0.25s; transition: all 0.25s; display: inline-block; border-radius: 1.25rem; background-color: rgba(0, 0, 0, 0.25); }

.title-c .switch-area .switch::after { width: 1.25rem; height: 1.25rem; top: -0.1875rem; left: -0.25rem; content: ''; position: absolute; -webkit-transition: all 0.25s; transition: all 0.25s; border-radius: 1.125rem; background-color: #fff; -webkit-box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.15), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5); box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.15), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5); }

.title-c .switch-area .offscreen { top: 0; left: -1917.375rem; position: absolute; }

.title-c .switch-area input[type='checkbox']:checked + .switch { background-color: #2d4988; }

.title-c .switch-area input[type='checkbox']:checked + .switch::after { -webkit-transform: translateX(1.5rem); transform: translateX(1.5rem); }

.title-c .switch-area p { font-size: 0.8rem; }

.question { width: 100%; height: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 0.5rem 1.5rem; border: 0.0625rem solid #ccc; border-radius: 0.3125rem; background-color: #fff; position: relative; margin-bottom: 0.5rem; }

.question .details { width: 100%; height: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.question .details small { color: #fff; border-radius: 0.25rem; padding: 0.25rem 0.5rem; background-color: #2d4988; }

.question .details i { cursor: pointer; padding: 0.5rem; background-color: #ccc; border-radius: 50%; }

.question .details i:hover { color: #7bc235; }

.question .title { margin-top: 1rem; font-size: 1.25rem; }

.question input { width: 100%; border: none; border-bottom: 0.0625rem solid #ccc; }

.question input:focus { outline: none; }

.question input:focus + .bar:before, .question input:focus + .bar:after { width: 50%; }

.question .bar { width: 100%; position: relative; }

.question .bar::before { left: 50%; }

.question .bar::after { right: 50%; }

.question .bar::before, .question .bar::after { width: 0; height: 0.125rem; content: ''; position: absolute; background: #2d4988; transition: 0.25s ease all; -moz-transition: 0.25s ease all; -webkit-transition: 0.25s ease all; }

.question .type-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: unset; -ms-flex-pack: unset; justify-content: unset; margin-top: 2rem; position: relative; }

.question .type-container .current-type, .question .type-container .type { width: 11rem; height: 2.5rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: unset; -ms-flex-pack: unset; justify-content: unset; cursor: pointer; margin-left: 1rem; background-color: #eee; position: absolute; left: 2rem; }

.question .type-container .current-type .far, .question .type-container .current-type .fas, .question .type-container .type .far, .question .type-container .type .fas { font-size: 1.25rem; margin-left: 1rem; margin-right: 1rem; }

.question .type-container .current-type .fa-sort-down, .question .type-container .type .fa-sort-down { margin-left: auto; margin-bottom: 0.5rem; }

.question .type-container .type-list { position: absolute; top: -0.5rem; z-index: 30678; }

.question .type-container .checkbox { top: 40px; }

.question .type-container .dropdown { top: 80px; }

.question .type-container .literal { top: 120px; }

.question .type-container .date { top: 160px; }

.question .type-container .number { top: 200px; }

.question .type-container .email { top: 240px; }

.question .type-container .english { top: 280px; }

.question .options { margin-top: 2rem; }

.question .options .option { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: unset; -ms-flex-pack: unset; justify-content: unset; margin-bottom: 1.5rem; }

.question .options .option i { font-size: 1.25rem; margin-right: 0.75rem; }

.question .options .option .shit { width: 65%; position: relative; }

.question .options .option .shit input { width: 100%; border: none; border-bottom: 0.0625rem solid #ccc; font-size: 1rem; padding-bottom: 0.125rem; }

.question .options .option .shit input:focus { outline: none; }

.question .options .option .shit input:focus + .bar:before, .question .options .option .shit input:focus + .bar:after { width: 50%; }

.question .options .option .shit .bar { width: 100%; position: absolute; left: 0; bottom: 2px; }

.question .options .option .shit .bar::before { left: 50%; }

.question .options .option .shit .bar::after { right: 50%; }

.question .options .option .shit .bar::before, .question .options .option .shit .bar::after { width: 0; height: 0.125rem; content: ''; position: absolute; background: #2d4988; transition: 0.25s ease all; -moz-transition: 0.25s ease all; -webkit-transition: 0.25s ease all; }

.question .options .option .fa-circle { color: #ccc; font-size: 1.25rem; margin-right: 1rem; }

.question .options .option .fa-times, .question .options .option .fa-link { color: #777; cursor: pointer; font-size: 1.25rem; margin-left: 1rem; }

.question .options .option .fa-times:hover, .question .options .option .fa-link:hover { color: #ff5722; }

.question .options .option p { width: 65%; padding-bottom: 2px; border-bottom: 1px dashed #777; }

.question .footer { width: 100%; height: 3.5rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: unset; -ms-flex-pack: unset; justify-content: unset; margin-top: 1rem; font-size: 0.8rem; border-top: 0.0625rem solid #ccc; }

.question .footer .switch-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: unset; -ms-flex-pack: unset; justify-content: unset; }

.question .footer .switch-area .switch { width: 2.25rem; height: 1rem; cursor: pointer; margin-left: 1rem; position: relative; -webkit-transition: all 0.25s; transition: all 0.25s; display: inline-block; border-radius: 1.25rem; background-color: rgba(0, 0, 0, 0.25); }

.question .footer .switch-area .switch::after { width: 1.25rem; height: 1.25rem; top: -0.1875rem; left: -0.25rem; content: ''; position: absolute; -webkit-transition: all 0.25s; transition: all 0.25s; border-radius: 1.125rem; background-color: #fff; -webkit-box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.15), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5); box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.15), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5); }

.question .footer .switch-area .offscreen { top: 0; left: -1917.375rem; position: absolute; }

.question .footer .switch-area input[type='checkbox']:checked + .switch { background-color: #2d4988; }

.question .footer .switch-area input[type='checkbox']:checked + .switch::after { -webkit-transform: translateX(1.5rem); transform: translateX(1.5rem); }

.question .footer .line { height: 2rem; margin-left: 1rem; padding-right: 1rem; border-left: 0.0625rem solid #ccc; }

.question .footer .delete-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: unset; -ms-flex-pack: unset; justify-content: unset; }

.question .footer .delete-area .fa-trash { color: #777; cursor: pointer; margin-right: 1rem; font-size: 1.125rem; }

.question .footer .delete-area .fa-trash:hover { color: #ff5722; }

.ghost { opacity: 0.5; -webkit-box-shadow: 0 0.5rem 2.5rem 0 rgba(0, 0, 0, 0.25); box-shadow: 0 0.5rem 2.5rem 0 rgba(0, 0, 0, 0.25); }

.mask { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.75); position: fixed; z-index: 30678; }

.mask .dialog { width: 600px; height: 300px; background-color: #fff; position: fixed; top: 150px; left: calc(50% - (600px / 2)); border-radius: 4px; padding: 1rem 1.5rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.mask .dialog p:nth-child(1) { font-size: 1.75rem; font-weight: bold; margin-bottom: 1rem; }

.mask .dialog p:nth-child(2) { margin-bottom: 0.5rem; }

.mask .dialog .btn-container { width: 100%; height: auto; margin-top: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: end; }

.mask .dialog .btn-container .btn-save, .mask .dialog .btn-container .btn-cancel { width: 4.5rem; height: 2.5rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; color: #fff; cursor: pointer; border-radius: 4px; }

.mask .dialog .btn-container .btn-save { margin-left: 1rem; background-color: #2d4988; }

.mask .dialog .btn-container .btn-cancel { margin-left: auto; background-color: #bf360c; }
/*# sourceMappingURL=style.css.map */