body {
  padding-top: 1rem;
  background-color: rgba(189, 189, 189, 0.75);
}

.r-header {
  @include s(100%, auto);
  border: $border;
  border-radius: $radius;
  background-color: $white;
  position: relative;
  margin-bottom: 1rem;
  padding: 1.5rem 1.5rem 1rem 1.5rem;

  .line {
    @include s(100%, 0.625rem);
    background-color: $primary;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    top: 0;
    left: 0;
    position: absolute;
  }

  p {
    font-size: 2rem;
  }
}

.r-question {
  @include s(100%, auto);
  border: $border;
  border-radius: $radius;
  background-color: $white;
  padding: 1.5rem;
  margin-bottom: 1rem;

  .question-title {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    display: inline-block;
  }

  small {
    color: red;
  }

  .r-option-group {
    display: flex;

    .r-option {
      @include f-a-j(center, unset);
      margin-right: 2rem;

      input {
        cursor: pointer;
        zoom: 150%;
        margin-right: 0.25rem;
      }
    }
  }

  input[type='text'] {
    @include input(100%);
  }

  .bar {
    @include bar(100%, relative);
  }
}
