.question {
  @include s(100%, auto);
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1.5rem;
  border: $border;
  border-radius: $radius;
  background-color: $white;
  position: relative;
  margin-bottom: 0.5rem;

  .details {
    @include s(100%, auto);
    @include f-a-j(center, space-between);

    small {
      color: #fff;
      border-radius: 0.25rem;
      padding: 0.25rem 0.5rem;
      background-color: $primary;
    }

    i {
      cursor: pointer;
      padding: 0.5rem;
      background-color: #ccc;
      border-radius: 50%;

      &:hover {
        color: #7bc235;
      }
    }
  }

  .title {
    margin-top: 1rem;
    font-size: 1.25rem;
  }

  input {
    @include input(100%);
  }

  .bar {
    @include bar(100%, relative);
  }

  .type-container {
    @include f-a-j(center, unset);
    margin-top: 2rem;
    position: relative;

    .current-type,
    .type {
      @include s(11rem, 2.5rem);
      @include f-a-j(center, unset);
      cursor: pointer;
      margin-left: 1rem;
      background-color: #eee;
      position: absolute;
      left: 2rem;

      .far,
      .fas {
        font-size: 1.25rem;
        margin-left: 1rem;
        margin-right: 1rem;
      }

      .fa-sort-down {
        margin-left: auto;
        margin-bottom: 0.5rem;
      }
    }

    .type-list {
      position: absolute;
      top: -0.5rem;
      z-index: 30678;
    }

    .checkbox {
      top: 40px;
    }

    .dropdown {
      top: 80px;
    }

    .literal {
      top: 120px;
    }

    .date {
      top: 160px;
    }

    .number {
      top: 200px;
    }

    .email {
      top: 240px;
    }

    .english {
      top: 280px;
    }
  }

  .options {
    margin-top: 2rem;

    .option {
      @include f-a-j(center, unset);
      margin-bottom: 1.5rem;

      i {
        font-size: 1.25rem;
        margin-right: 0.75rem;
      }

      .shit {
        width: 65%;
        position: relative;

        input {
          @include input(100%);
          font-size: 1rem;
          padding-bottom: 0.125rem;
        }

        .bar {
          @include bar(100%, absolute);
          left: 0;
          bottom: 2px;
        }
      }

      .fa-circle {
        color: #ccc;
        font-size: 1.25rem;
        margin-right: 1rem;
      }

      .fa-times,
      .fa-link {
        color: #777;
        cursor: pointer;
        font-size: 1.25rem;
        margin-left: 1rem;

        &:hover {
          color: #ff5722;
        }
      }

      p {
        width: 65%;
        padding-bottom: 2px;
        border-bottom: 1px dashed #777;
      }
    }
  }

  .footer {
    @include s(100%, 3.5rem);
    @include f-a-j(center, unset);
    margin-top: 1rem;
    font-size: 0.8rem;
    border-top: $border;

    .switch-area {
      @include f-a-j(center, unset);
      @include switch();
    }

    .line {
      height: 2rem;
      margin-left: 1rem;
      padding-right: 1rem;
      border-left: $border;
    }

    .delete-area {
      @include f-a-j(center, unset);

      .fa-trash {
        color: #777;
        cursor: pointer;
        margin-right: 1rem;
        font-size: 1.125rem;

        &:hover {
          color: #ff5722;
        }
      }
    }
  }
}

.ghost {
  opacity: 0.5;
  box-shadow: 0 0.5rem 2.5rem 0 rgba(0, 0, 0, 0.25);
}
