.title-c {
  @include s(100%, auto);
  @include f-a-j(center, unset);
  padding: 1.5rem;
  border: $border;
  position: relative;
  margin-bottom: 0.5rem;
  border-radius: $radius;
  flex-direction: column;
  background-color: $white;

  .line {
    @include s(100%, 0.625rem);
    background-color: $primary;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    top: 0;
    left: 0;
    position: absolute;
  }

  .title-container {
    @include s(100%, 2.625rem);
    position: relative;

    > input {
      @include input(100%);
      font-size: 1.75rem;
    }

    .bar {
      @include bar(100%, absolute);
      top: 42px;
      left: 0;
    }
  }

  .description-container {
    @include s(100%, 1.375rem);
    margin-top: 1.5rem;
    padding-bottom: 2px;
    position: relative;

    > input {
      @include input(100%);
    }

    .bar {
      @include bar(100%, absolute);
      top: 22px;
      left: 0;
    }
  }

  .switch-area {
    @include f-a-j(center, unset);
    @include switch();
    margin-top: 1.5rem;
    margin-right: auto;

    p {
      font-size: 0.8rem;
    }
  }
}
