#function {
  top: 0;
  right: -4rem;
  position: absolute;
  background-color: $white;
  border: $border;
  border-radius: 0.5rem;

  .function {
    @include s(3.125rem, 3.125rem);
    @include f-a-j(center, center);
  }
}
