#question {
  @include s(100%, auto);
  border: $border;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: $white;
  padding: 1.5rem 2rem 0 2rem;
  position: relative;

  .up {
    @include f-a-j(unset, space-between);

    input {
      @include s(27rem, 3.5rem);
      border: none;
      font-size: 1.15rem;
      padding-left: 1rem;
      background-color: $gray-lighten;
      border-bottom: 0.0625rem solid #666;

      &:focus {
        outline: none;
      }
    }

    #menu-area {
      @include s(13rem, 3rem);
      @include f-a-j(center, unset);
      border: $border;
      border-radius: 4px;
      padding-left: 0.75rem;
      padding-right: 0.75rem;

      p {
        margin-left: 1rem;
        margin-right: auto;
      }
    }
  }

  .middle {
    @include s(100%, auto);
    margin-top: 2rem;
    margin-bottom: 2.5rem;

    .option {
      @include f-a-j(center, unset);
      position: relative;
      margin-bottom: 1.5rem;

      input {
        @include input(80%);
        margin-left: 1rem;
        margin-right: auto;
      }

      .bar {
        @include bar(80%, absolute);
        margin-left: 2.5rem;

        &::before,
        &::after {
          top: 0.625rem;
        }
      }
    }
  }

  .down {
    @include s(100%, 4rem);
    @include f-a-j(center, flex-end);
    border-top: $border;

    .line {
      @include s(0, 1.5rem);
      margin-left: 1rem;
      margin-right: 1rem;
      border-left: 0.0625rem solid $gray;
    }

    .switch-area {
      @include f-a-j(center, unset);
      @include switch();

      p {
        font-size: 0.95rem;
      }
    }
  }
}
