#title {
  @include s(100%, 8.75rem);
  @include f-a-j(center, unset);
  border: $border;
  border-radius: 0.5rem;
  flex-direction: column;
  background-color: $white;

  .line {
    @include s(100%, 0.625rem);
    background-color: $primary;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .title {
    height: 3rem;
    font-size: 1.75rem;
    margin-top: 0.75rem;
  }

  .description {
    height: 1.5rem;
    margin-top: 1rem;
  }

  input {
    @include input(90%);
  }

  .bar {
    @include bar(90%, relative);
  }
}
