.title-c {
  @include s(100%, 11.25rem);
  @include f-a-j(center, unset);
  padding: 1.5rem;
  border: $border;
  position: relative;
  margin-bottom: 1rem;
  border-radius: $radius;
  flex-direction: column;
  background-color: $white;

  .line {
    @include s(100%, 0.625rem);
    background-color: $primary;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    top: 0;
    left: 0;
    position: absolute;
  }

  .title-text {
    font-size: 1.75rem;
  }

  .description {
    margin-top: 1.5rem;
    padding-bottom: 2px;
  }

  input {
    @include input(100%);
  }

  .bar {
    @include bar(100%, relative);
  }

  .switch-area {
    @include f-a-j(center, unset);
    @include switch();
    margin-top: 1.5rem;
    margin-right: auto;

    p {
      font-size: 0.8rem;
    }
  }
}
