@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

p {
  margin-bottom: 0 !important;
}

label {
  margin-bottom: 0 !important;
}